<h3>Found Keys</h3>
<%i=1%>
<%@dataHash.each do |key,data|%>
  <br>
  <ul class="list-group">
    <h5>Data n° <%=i%></h5>
    <li class="list-group-item">Key= <%=key%></li>
    <li class="list-group-item">Flag = <%=data.flag %></li>
    <li class="list-group-item">Bytes = <%=data.bytes %></li>
    <li class="list-group-item">Value = <%=data.value %></li>
    <li class="list-group-item">CAS token = <%=data.casToken %></li>
  </ul>
  <%i+=1%>
<%end%>
<br>
<p>
  <a href="/"  class='btn btn-secondary'>Back to menu</a>
</p>
