<h3>You are now in the 'CAS' command</h3>
<h5>Please enter the information below</h5>
<% if flash[:error]!=nil%>
  <p id="error">
    <div class="alert alert-warning" role="alert"><%= flash[:error] %></div>
  </p>
<%else%>
  <br>
<%end%>

<%= form_tag '/cas/create' do %>
  <p>
    <%= label_tag(:key, "Key: ") %><br>
    <%= text_field_tag :key %>
  </p>
  <p>
    <%= label_tag(:flag, "Flag: ") %><br>
    <%= text_field_tag :flag %>
  </p>
  <p>
   <%= label_tag(:timeToLive, "Time to Live: ") %><br>
   <%= text_field_tag :timeToLive %>
  </p>
  <p>
    <%= label_tag(:bytes, "Bytes: ") %><br>
    <%= text_field_tag :bytes %>
  </p>
  <p>
    <%= label_tag(:value, "Value: ") %><br>
    <%= text_field_tag :value %>
  </p>
  <p>
    <%= label_tag(:casToken, "CAS Token: ") %><br>
    <%= text_field_tag :casToken %>
  </p>
  <p>
    <%= submit_tag("Submit",{:class => 'btn btn-primary'}) %>
  </p>
<% end %>
<p>
  <a href="/"  class='btn btn-secondary'>Back to menu</a>
</p>
