<h1>Welcome to Memcached</h1>
<h2>Available commands:</h2>
<h4>Storage commands:</h4>
<p><%=link_to 'Add', add_path %> </p>
<p><%=link_to 'Set',set_path %> </p>
<p><%=link_to 'Replace',replace_path %> </p>
<p><%=link_to 'Append',append_path %> </p>
<p><%=link_to 'Preppend',preppend_path %> </p>
<p><%=link_to 'CAS', cas_path%></p>
<h4>Retrieval commands:</h4>
<p><%=link_to 'Get', get_path %> </p>
<p><%=link_to 'Gets', getcas_path %> </p>
