<h1>Data successfully Retrieved</h1>
<p>Key: <%=@key%> </p>
<p>Flag: <%=@data.get_flag%> </p>
<p>Bytes: <%=@data.get_bytes%></p>
<p>Value: <%=@data.get_value%></p>
<p>Time to live: <%=@data.get_timeToLive%></p>
<p>exptime: <%=@data.get_expTime%></p>
<p>Time now: <%=Time.now%></p>
<p><%=link_to 'Back to menu', root_path%></p>
